/* --- General Sibling Selector (~) --- */

p ~ h1 {
    color: red;
}

/* --- Adjacent Sibling Selector (+) --- */
P + h1 {
    color: blue;
}

/* ---  Child Selector (>) --- */
.baba > h1 {
    color: blueviolet;
}
/* --- Descendant Sibling Selector (+) --- */
 .baba h1 {
    color: green;
 }