a:link{
    color: greenyellow;
}
a:visited{
    color: grey;
}
a:hover{
    color:darkblue;
}
a:active{
    color: yellow;
}
button:hover{
    background-color: lightblue;
}
button:active{
    background-color: white;
}
/*
li:nth-child(1){
    background-color: yellow;
}

li:nth-child(even){
    background-color: skyblue;
}
li:nth-child(odd){
    background-color: blue;
}
*/
li:nth-child(5n+0){
    background-color: skyblue;
}